#processApp{"ng-controller" => "processController"}
  .row
    .col-md-6
      .canvas-wrap
        %canvas#process

    .col-md-4
      %input.filestyle#csv{type: "file", "onchange" => "angular.element(this).scope().parseAndCreateCheckbox(this)", accept: "text/csv, application/csv", "data-buttonName" => "btn-primary"}
    .col-md-2
      %div.btn.btn-primary{'ng-click' => "showCanvasSVG()"}
        Show SVG
